@model FormModel
@{
    ViewData["Title"] = "Home Page";
}
<form>
    <input class='mask-input mask-mobile-phone' value="" >
    <input class='mask-input mask-phone' value="">
    <input class='mask-input mask-date-time' value="">
        <input class='mask-input mask-date' value="">
        <input class='mask-input mask-time' value="">
<button type='submit'>submit</button>
</form>
@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    data-unmask-value=''
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
